<div class="container contenedor col-12">
    <div class="text-center mb-2">
        <h5 class="montserrat mt-3" style="font-size: 50px; color: black;">Cuadre diario de caja</h5>=
    </div>
    <div class="row">
        <div class="col-6">
            <label for="">Fecha 1</label>
            <input type="date" class="form-control">
        </div>
        <div class="col-6">
            <label for="">Fecha 2</label>
            <input type="date" class="form-control">
        </div>
        <div class="col-12 text-center mt-3">
            <button class="btn btn-primary">Calcular</button>
        </div>
    </div>

    <div>
        <ul>
            <li>Resultados:</li>
            <li>Total vendido:</li>
            <li>Total domicilios:</li>
            <li>Ganancia Total:</li>
            <li>Locales:</li>
        </ul>
    </div>


    <div class="container card-columns" class="row">
        <div class="card tarjetas col-6">
            <div class="card-body tarjeta-info ">
                <h5 class="card-title">Informacion</h5>
                <span><strong>Nombre Del Local </strong> xxxxx</span><br>
                <span><strong>Venta</strong> xxxxxx</span><br>
                
            </div>
            
        </div>

        <div class="card tarjetas col-6">
            <div class="card-body tarjeta-info ">
                <h5 class="card-title">Informacion</h5>
                <span><strong>Nombre Del Local </strong> xxxxx</span><br>
                <span><strong>Venta</strong> xxxxxx</span><br>
                
            </div>

        </div>
    </div>