<!-- <div class="background-categories centerCard back-height fadeIn fast">
    <div class="card centerCard center carde-size" >
        <span class="quickSand " style="font-size: 55px; color: #280B0B; background-color:#ffffff ;">
    Categorias
</span>
    </div>
</div> -->

<div class="contenedor bg-img">
    <div>
        <div class="col-md-12 mt-5 mb-3 quickSand contenedor" style="font-size: 35px;">
            <h1> ¿Quiénes Somos?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 quienes">
            <ul>
                <li> <img src="../../../assets/imgs/local.png"> </li>
                <li>
                    <p>
                        Somos una plataforma tecnológica que busca promover la venta de productos gastronómicos del municipio de Rionegro, buscando que aquellos locales que han sufrido por esta pandemia puedan seguir adelante en medio de la crisis.
                    </p>

                </li>
            </ul>
        </div>

        <div class="col-md-4 quienes">
            <ul>
                <li><img src="../../../assets/imgs/bolsa.png"></li>
                <li>
                    <p> Nuestra preocupación por ti también se refleja en el medio ambiente, por eso, todos nuestros productos se encuentran empacados en bolsas biodegradables y de papel, evitando así el uso de bolsas y de plásticos.</p>
                </li>
            </ul>
        </div>

        <div class="col-md-4 quienes">
            <ul>
                <li><img src="../../../assets/imgs/moto.png"></li>
                <li>
                    <p> Contamos con una red de domiciliarios dispuestos a llevar tus productos hasta la puerta de tu casa., en el menor momento posible, y contando con todos los protocolos de bioseguridad.
                    </p>
                </li>
            </ul>
        </div>

    </div>
</div>