<!-- <div class="background-categories centerCard back-height fadeIn fast">
    <div class="card centerCard center carde-size" >
        <span class="quickSand " style="font-size: 55px; color: #280B0B; background-color:#ffffff ;">
    Categorias
</span>
    </div>
</div> -->

<div class="contenedor bg-img">
    <div>
        <div class="col-md-12 mt-5 mb-3 quickSand contenedor" style="font-size: 35px;">
            <h1> ¿Quienes Somos?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 quienes">
            <ul>
                <li> <img src="../../../assets/imgs/local.png"> </li>
                <li>
                    <p>
                        Nullam tristique magna sodales massa congue, vitae rhoncus arcu feugiat. Vestibulum tempus ultrices ex quis accumsan. Vestibulum in lectus ligula. Pellentesque at sagittis augue. Mauris eget elit sed arcu euismod varius eget suscipit velit. Etiam pulvinar
                        ornare hendrerit. In porta sapien in lectus cursus venenatis id et lectus. Mauris egestas nisl risus, vel cursus metus mollis non.</p>

                </li>
            </ul>
        </div>

        <div class="col-md-4 quienes">
            <ul>
                <li><img src="../../../assets/imgs/bolsa.png"></li>
                <li>
                    <p> Nullam tristique magna sodales massa congue, vitae rhoncus arcu feugiat. Vestibulum tempus ultrices ex quis accumsan. Vestibulum in lectus ligula. Pellentesque at sagittis augue. Mauris eget elit sed arcu euismod varius eget suscipit
                        velit. Etiam pulvinar ornare hendrerit. In porta sapien in lectus cursus venenatis id et lectus. Mauris egestas nisl risus, vel cursus metus mollis non.</p>
                </li>
            </ul>
        </div>

        <div class="col-md-4 quienes">
            <ul>
                <li><img src="../../../assets/imgs/moto.png"></li>
                <li>
                    <p> Nullam tristique magna sodales massa congue, vitae rhoncus arcu feugiat. Vestibulum tempus ultrices ex quis accumsan. Vestibulum in lectus ligula. Pellentesque at sagittis augue. Mauris eget elit sed arcu euismod varius eget suscipit
                        velit. Etiam pulvinar ornare hendrerit. In porta sapien in lectus cursus venenatis id et lectus. Mauris egestas nisl risus, vel cursus metus mollis non.</p>
                </li>
            </ul>
        </div>

    </div>
</div>