<div class="background-categories centerCard back-height fadeIn fast">
    <!-- <div class="card centerCard center carde-size" >
        <span class="quickSand " style="font-size: 55px; color: #280B0B; background-color:#ffffff ;">
    Categorias
</span>
    </div> -->
</div>

<div>
    <div class="col-md-8 mt-5 mb-3 quickSand" style="font-size: 35px;">
        <span>CONÓCENOS ...</span>
    </div>
    <div class="col-md-10 centerCard">
        <p style="text-align: justify;
        text-justify: inter-word;">
            Somos Mateo y Juan estudiantes de ingeniería, socios y además amigos de la infancia. Juntos decidimos crear
            un lugar diferente, donde la gente pudiera encontrar la mejor comida sin salir de sus casas. Eden Hub es el
            resultado de esta iniciativa, la cual nació en épocas de cuarentena cuando se creía que no había nada para
            hacer.Tenemos la bendición de tener un gran equipo de trabajo, el cual siempre pone todo su empeño para que
            las cosas salgan siempre de la mejor manera. Buscamos mejorar constantemente, para poderte llevar los
            mejores productos gastronómicos a tu casa. Buscamos apoyar aquellos locales afectados por la pandemia,
            acercándolos a la tecnología para que sus sueños no mueran en esta época tan difícil, es por eso que estamos
            comprometidos con hacer las cosas siempre de la mejor manera, y queremos cuidar a las personas tanto en la
            calle como en la web.
        </p>

    </div>
</div>