<div class="background centerCard" style="height: 45%;">
    <!-- <div class="card centerCard center " style="height: 6em; width: 25em; margin-top: 9em;">
        <span class="quickSand " style="font-size: 55px; color: #280B0B;">
    Catálogo
</span>
    </div> -->
</div>
<div class="row mb-5">
    <div class="col-md-4 ml-5 mt-5">
        <span class="quickSand saludo" style="margin-top: 10em;">
        ¡Finalizar Compra!
    </span>
        <p>
            Esta es la parte más Fácil.
        </p>
        <p>
            Puedes pagar directamente a nuestro domiciliario en efectivo, o solicitar QR al momento de recibir tu producto.
        </p>
        <p><small>** Estamos trabajando para proximamente tener más formas de pago.</small></p>
    </div>
    <div class="col-md-6 mt-5 centerCard">
        <div class="card shadow-lg" style="width: 90%; height: 20em;  border-radius: 1.25rem!important">
            <h5 class="card-title mt-4 center montserrat">Resumen de tu Compra:</h5>
        </div>
    </div>

</div>
<div class="row centerCard ">
    <div class="col-md-6 mt-5  ml-2 mr-2">
        <p class="quickSand " style="font-size: 20px;">
            Te pedimos completes la siguiente información para llevar lo más pronto posible tu pedido:
        </p>
        <form>
            <div class="form-group">
                <label for="formGroupExampleInput">Nombre y Apellidos</label>
                <input type="text" class="form-control" id="formGroupExampleInput">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Dirección</label>
                <input type="text" class="form-control" id="formGroupExampleInput2">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Teléfono</label>
                <input type="text" class="form-control" id="formGroupExampleInput2">
            </div>
            <div class="form-group mb">
                <label for="exampleFormControlTextarea1">Nota:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="¿Quieres dejarnos alguna nota o indicación? Este es el lugar."></textarea>
            </div>
            <div class="center mb-5">

                <button class="btn btn-primary">Finalizar Compra</button>
            </div>
        </form>

    </div>
</div>