.saludo {
    font-size: 45px;
}

.formu {
    justify-content: center;
    display: flex;
}

.swal-text {
    text-align: left
}

#swal2-content {
    text-align: left!important
}

@media only screen and (max-width: 622px) {
    .formu {
        justify-content: center;
        display: inline;
    }
}

.contenedor h1 {
    font-family: 'Lobster', cursive;
    color: #ffffff;
    justify-content: center;
    text-align: center;
    margin-top: 45%;
    font-size: 70px;
}

.quienes {
    justify-content: center;
    align-items: center;
}

.quienes h2 {
    color: #ffffff;
    margin-top: -5%;
}