.saludo {
    font-size: 45px;
}
.formu{
    justify-content: center;
    display: flex;

}
@media only screen and (max-width: 622px) {
    .formu {
        justify-content: center;
        display: inline;
    }
}