.conenedor-recetas {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tarjetas {
    width: 100%;
    flex: 0 0 calc(33.3% - 1rem);
}

.tam-img {
    width: 25rem;
    height: 16rem;
    object-fit: cover;
}

.tarjeta-img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.tarjeta-info {
    background-color: white;
    color: black;
    font-size: 1.5rem;
    width: 25rem;
    padding: 1rem;
    margin-bottom: 3rem;
}

.tarjetas {
    display: flex;
    align-items: center;
    justify-content: center;
}