<div class="card d-xl-block">

    <div class="card-body">
        <div class="row mb-lg-5">
            <div class="col-md-8 col-sm-6 col-xs-6">
                <h5 class="montserrat mt-3" style="font-size: 30px; color: black;">Información de Locales</h5>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6" style="text-align: center;">
                <button mat-fab [routerLink]="['/admin/locales/crear']" routerLinkActive="router-link-active" style="background-color: #F58F0D;"><span class="material-icons">
                    add
                    </span></button>
            </div>
        </div>
    </div>

    <!-- <div class="card-columns" style="margin: 0 auto; float: none;">
        <div class="col-md-12 col-md-8 col-sm-6" style="text-align: center;">
            <div *ngFor="let item of companies; let i = index" class="card shadow mr-2 " style="width: 38rem; ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 mb-2 align-text-top" style="text-align: center;">
                            <img [src]="item['icon']" height="70" class="mx-auto d-block">
                        </div>
                        <div class="col-7 manrope" style="text-align: left; color: black;">
                            <span> <strong> </strong>{{item['name']}} </span><br>
                            <span><strong>Correo: </strong> {{item['mail']}}</span><br>
                            <span><strong>Teléfono:</strong> {{item['telephone']}} </span><br>
                            <span> <strong>Representante: </strong>  </span><br>
                            <span><h6>{{item['representative']}} </h6> </span>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12 mt-4" style="text-align: center;">
                            <button class="btn btn-light mr-5" style="padding: 1;
                                border: 0 none;">
                                    <span class="material-icons" style="color: #F58F0D;">
                                        edit
                                        </span>
                                </button>
                            <button class="btn btn-light" style="padding: 1;
                                border: 0 none;">
                                    <span class="material-icons" style="color: hsl(0, 100%, 55%);">
                                        delete
                                        </span>
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>-->

    <div class="card-columns" style="margin: 1 auto; float: none;">
        <div *ngFor="let item of companies; let i = index" class="card shadow mr-2 " style="width: 15rem; ">
            <img class="card-img-top" [src]="item['icon']" alt="Card image cap">
            <div class="card-body">
                <div class="col-7 manrope" style="text-align: left; color: black;">
                    <span> <strong> </strong>{{item['name']}} </span><br>
                    <span><strong>Correo: </strong> {{item['mail']}}</span><br>
                    <span><strong>Teléfono:</strong> {{item['telephone']}} </span><br>
                    <span> <strong>Representante: </strong>  </span><br>
                    <span><h6>{{item['representative']}} </h6> </span>
                </div>
              <a href="#" class="btn btn-primary">ir algun lado</a>
            </div>
          </div>

    </div>

    <!--<div class="container" *ngFor="let item of companies; let i = index" class="card shadow mr-2 " style="width: 25rem; height: 25rem; ">
        <div class="card float-left">
          <div class="row ">
            <div class="col-sm-7">
              <div class="card-block">
                <div class="col-8 manrope" style="text-align: left; color: black;">
                    <span> <strong> </strong>{{item['name']}} </span><br>
                    <span><strong>Correo: </strong> {{item['mail']}}</span><br>
                    <span><strong>Teléfono:</strong> {{item['telephone']}} </span><br>
                    <span> <strong>Representante: </strong>  </span><br>
                    <span><h6>{{item['representative']}} </h6> </span>
                </div>
                <a href="#" class="btn btn-primary btn-sm">no se que hace esto</a>
              </div>
            </div>
            <div class="col-sm-5">
              <img class="card-img-top" [src]="item['icon']" alt="Card image cap" style="width: 20rem; height: 20rem;">
            </div>
          </div>
        </div>
    </div>-->