<div class="titul">
    <h2>Ingresar Locales</h2>
</div>

<form action="#" id="form">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Nombres</label>
            <input type="text" class="form-control" placeholder="Nombre Compañia">
        </div>
        <div class="form-group col-md-4">
            <label>Representante</label>
            <input type="text" class="form-control" placeholder="Nombre Del Representante">
        </div>
        <div class="form-group col-md-4">
            <label>Ubicación</label>
            <input type="text" class="form-control" placeholder="direccion">
        </div>
    </div>
    <div class="form-group">
        <label>Descripción</label>
        <textarea class="form-control" rows="3"></textarea>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Icono/imagen</label>
            <input class="form-control" type="file" name="imagen" id="imagen">
        </div>
        <div class="form-group col-md-4">
            <label>Correo</label>
            <input class="form-control" type="email" name="correo" id="correo" placeholder="Ingrese su correo electrónico">
        </div>
        <div class="form-group col-md-4">
            <label>Teléfono</label>
            <input class="form-control" type="text" name="telefono" class="form-control" id="telefono">
        </div>
    </div>
    <div class="text-center mt-2">
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </div>

</form>