<mat-drawer-container (window:resize)="onResize()" class="example-container disabled">
    <mat-drawer style="width: 19em ;" mode="{{mode}}" #drawer opened>
        <div class="card perfil">
            <div class="card-body">
                <img src="../assets/imgs/favicon.png" class="imgRedonda" alt="Cinque Terre">
                <div class="perfilName">
                    <h6>Eden Hub</h6>
                </div>
            </div>
        </div>
        <div style="margin-left: 2em ">
            <mat-list role="list">

                <mat-list-item class="sidenavButton" (click)="changeColor(0)" [ngStyle]="{color: inventarioColor}" [routerLink]="['/admin/locales']">
                    <span class="material-icons sidenavIcon">
                    assignment 
                    </span> LOCALES</mat-list-item>
                <mat-list-item class="sidenavButton" (click)="changeColor(4)" [ngStyle]="{color: puntosV}" [routerLink]="['/admin/productos']">
                    <span class="material-icons sidenavIcon">
                            attach_money
                                                    </span> PRODUCTOS</mat-list-item>
                <mat-list-item class="sidenavButton" (click)="changeColor(3)" [ngStyle]="{color: trabajadorColor}" [routerLink]="['/admin/promociones']">
                    <span class="material-icons sidenavIcon">
                                                        person_pin
                                                                    </span> PROMOCIONES</mat-list-item>

                <!--<mat-list-item class="sidenavButton" (click)="changeColor(5)" [ngStyle]="{color: reporteColor}"><span class="material-icons sidenavIcon">
                    event_note 
                                    </span> CUADRE CAJA</mat-list-item>-->

                <mat-list-item class="sidenavButton" (click)="changeColor(5)" [ngStyle]="{color: reporteColor}" [routerLink]="['/admin/cajadiaria']">
                    <span class="material-icons sidenavIcon">
                                        assignment 
                                        </span> CUADRE CAJA</mat-list-item>
            </mat-list>
        </div>
    </mat-drawer>
    <mat-drawer-content class="disabled" style="background-color: #f4f3ef; ">
        <div class="row">
            <mat-toolbar class="navbar">
                <div class="col-md-8">

                    <button class="btn btn-outline-light " style=" color:#CCCCCC  ;" (click)="drawer.toggle()"><span class="material-icons">
                        menu
                        </span>
                        </button>
                    <span class="primary montserrat">
                            Eden Hub App - Dashboard
                        </span>
                </div>
                <div class="col-md-3 logout">
                    <button mat-button [matMenuTriggerFor]="menu"><span class="primary" class="material-icons">
                        person_outline
                        </span><span class="primary" class="material-icons">
                        more_vert
                        </span></button>
                    <mat-menu #menu="matMenu" class="primary">
                        <button mat-menu-item>Cuenta</button>
                        <button [routerLink]="['/login']" routerLinkActive="router-link-active" mat-menu-item>Cerrar sesión</button>
                    </mat-menu>

                </div>



            </mat-toolbar>

        </div>

        <div>
            <router-outlet></router-outlet>
        </div>

    </mat-drawer-content>
</mat-drawer-container>