<div class="selcc-local" style="color: black;">
    <h3 class="">Seleccione un Local</h3>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle col-auto-12" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          --Seleccione--
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let item of companies" (click)="selected(item._id)" class="dropdown-item">{{item.name}}</a>
        </div>
    </div>
</div>


<div class="card m-4">

    <div class="card-body">
        <div class="row mb-lg-5">
            <div class="col-md-8 col-sm-6 col-xs-6">
                <h5 class="montserrat mt-3" style="font-size: 30px; color: black;">Información de Productos</h5>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6" style="text-align: right;">
                <button mat-fab [routerLink]="['/admin/productos/crear']" routerLinkActive="router-link-active" style="background-color: #F58F0D;"><span class="material-icons">
                    add
                    </span></button>
            </div>
        </div>
    </div>


    <div class="conenedor-recetas">
        <div *ngFor="let item of products; let i = index" class="cont-tarjetas">
            <div class="tarjetas">
                <div class="tarjeta-img">
                    <div class="tarjeta-info">
                        <div class=" manrope" style="text-align: left; color: black;">
                            <img [src]="item['images'][0]['url']" alt="Card image cap" style="width: 23rem;">
                            <span> <strong> </strong>{{item['name']}} </span><br>
                            <span><strong>precio: </strong> {{item['price']}}</span><br>
                            <span><strong>descripción: :</strong>  </span><br>
                            <span>{{item['description']}} </span><br>
                            <span> <strong>items: </strong>  </span><br>
                            <h6 *ngFor="let itemP of item.items"><span class="badge badge-secondary">{{itemP.name}} </span></h6>
                            <span> <strong>items seleccionables: {{item['letSelectedItems']}}</strong>  </span><br>

                        </div>
                        <button class="btn btn-light mr-5" style="padding: 1;
                                border: 0 none;">
                                <span class="material-icons" style="color: #F58F0D;">
                                edit
                                </span>
                                </button>
                        <button class="btn btn-light" style="padding: 1;
                                border: 0 none;">
                                <span class="material-icons" style="color: hsl(0, 100%, 55%);">
                                delete
                                </span>
                                </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>