<div style="color: black;">
    <span>Seleccione un local: </span>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          --Seleccione--
        </button>
        <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a *ngFor="let item of companies"  (click)="selected(item._id)" class="dropdown-item" >{{item.name}}</a>
        </div>
      </div>
</div>


<div class="card m-4">

    <div class="card-body">
        <div class="row mb-lg-5">
            <div class="col-md-8 col-sm-6 col-xs-6">
                <h5 class="montserrat mt-3" style="font-size: 30px; color: black;">Información de Productos</h5>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6" style="text-align: right;">
                <button mat-fab [routerLink]="['/admin/productos/crear']" routerLinkActive="router-link-active" style="background-color: #F58F0D;"><span class="material-icons">
                    add
                    </span></button>
            </div>
        </div> </div>

        <div class="card-columns" style="margin: 0 auto; float: none;">
            <div class="col-md-12 " style="text-align: center;">
                <div *ngFor="let item of products; let i = index" class="card shadow mr-2 " style="width: 16rem; ">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mb-2" style="text-align: center; ">
                                
                                <img [src]="item['images'][0]['url']" width="60" height="50">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col md 12 manrope" style="text-align: left; color: black;">
                                <span> <strong> </strong>{{item['name']}} </span><br>
                                <span><strong>precio: </strong> {{item['price']}}</span><br>
                                <span><strong>descripción: :</strong>  </span><br>
                                <span>{{item['description']}} </span><br>
                                <span> <strong>items: </strong>  </span><br>
                                <h6 *ngFor="let itemP of item.items"><span class="badge badge-secondary">{{itemP.name}} </span></h6>
                                <span> <strong>items seleccionables: {{item['letSelectedItems']}}</strong>  </span><br>

                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-12 mt-4" style="text-align: center;">

                                <button class="btn btn-light mr-5" style="padding: 1;
                                border: 0 none;">
                                    <span class="material-icons" style="color: #F58F0D;">
                                        edit
                                        </span>
                                </button>
                                <button  class="btn btn-light" style="padding: 1;
                                border: 0 none;">
                                    <span class="material-icons">
                                        delete
                                        </span>
                                </button>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>