<app-loading *ngIf="loading"></app-loading>
<div class="background-categories centerCard back-height fadeIn fast" *ngIf="!loading">
    <div class="card centerCard center carde-size" >
        <span class="quickSand " style="font-size: 55px; color: #280B0B; background-color:#ffffff ;">
    Categorias
</span>
    </div>
</div>
<div class="row mb-5 fadeIn slow" style=" width: 100%;" *ngIf="!loading">
    <div class="col-md-4 ml-5 mt-lg-5">
        <span class="quickSand saludo" style="margin-top: 12em;">
        ¡Hola!
    </span>
        <p style="text-align: justify;">
            Es un placer compartir nuestro catálogo contigo.
        </p>
        <p style="text-align: justify;">¿Sabias qué al comprar en Eden Hub apoyas un local del Oriente Antioqueño a continuar con su negocio? Asi es, entre Antioqueños nos apoyamos, Disfrútalo.</p>
    </div>
    <div class="col-md-7 center centerCard contain-item">
        <!-- <div class="card item" [routerLink]="['/categorias/emplatanados']" routerLinkActive="router-link-active" type="button">
            <div class="card-body centerCard back-card" style="background-image: url('assets/imgs/pizza_opt.jpg')" width="100%" alt="">
                <div class="card announce montserrat centerCard ">
                    EMPLATANADOS
                </div>
            </div>
        </div> -->
        <div class="card item " [routerLink]="['/categorias/hamburguesas']" type="button">
            <div class="card-body centerCard back-card" style="background-image: url('assets/imgs/hamburguer_opt1.png')">
                <div class="card announce montserrat centerCard">
                    HAMBURGUESAS
                </div>
            </div>
        </div>
        <div class="card item" [routerLink]="['/categorias/arepas']" type="button">
            <div class="card-body centerCard back-card" style="background-image: url('assets/imgs/arepa_opt.jpg')">
                <div class="card announce montserrat centerCard ">
                    AREPAS
                </div>
            </div>
        </div>
        <div class="card item " [routerLink]="[ '/categorias/alitas'] " type="button">
            <div class="card-body centerCard back-card" style="background-image: url('assets/imgs/alitas2.jpg')">
                <div class="card announce montserrat centerCard">
                    ALITAS
                </div>
            </div>
        </div>
        <div class="card item" [routerLink]="['/categorias/mexicana']" type="button">
            <div class="card-body centerCard back-card" style="background-image: url('assets/imgs/tacos_opt.jpg')">
                <div class="card announce montserrat centerCard ">
                    MEXICANA
                </div>
            </div>
        </div>
        <div class="card item " [routerLink]="[ '/categorias/postres'] " type="button">
            <div class="card-body centerCard back-card" style="background-image: url('assets/imgs/otros_opt.png')">
                <div class="card announce montserrat centerCard">
                    POSTRES Y WAFFLES
                </div>
            </div>
        </div>
        <div class="card item" [routerLink]="['/categorias/regalos']" routerLinkActive="router-link-active" type="button">
            <div class="card-body centerCard back-card" style="background-image: url('assets/imgs/gp_opt.jpg')" width="100%" alt="">
                <div class="card announce montserrat centerCard ">
                    REGALOS
                </div>
            </div>
        </div>
    </div>
</div>