<div class="background centerCard" style="height: 45%;">
    <div class="card centerCard center " style="height: 6em; width: 25em; margin-top: 9em;">
        <span class="quickSand " style="font-size: 55px; color: #280B0B;">
    Catálogo
</span>
    </div>
</div>
<div class="row mb-5" style="align-items: center;">
    <div class="col-md-4 ml-5 mt-lg-5">
        <span class="quickSand saludo" style="margin-top: 12em;">
        ¡Hola!
    </span>
        <p>
            Es un placer compartir nuestro catálogo contigo.
        </p>
        <p>¿Sabias que al comprar en Eden Hub apoyas un local del Oriente Antioqueño a continuar con su negocio? Asi es, entre Antioqueños nos apoyamos, Disfrútalo.</p>
    </div>
    <div class="col-md-2 mt-5">
        <div class="card" type="button" style="width: 14em; height: 14em;">
        </div>
    </div>
    <div class="col-md-2 mt-5">
        <div class="card" type="button" style="width: 14em; height: 14em;">
        </div>
    </div>
    <div class="col-md-2 mt-5">
        <div class="card" type="button" style="width: 14em; height: 14em;">
        </div>
    </div>
    <div class="col-md-4 ml-5 mt-5">
        <span class="quickSand saludo">
        
    </span>
    </div>
    <div class="col-md-2 mt-5">
        <div class="card" type="button" style="width: 14em; height: 14em;">
        </div>
    </div>
    <div class="col-md-2 mt-5">
        <div class="card" type="button" style="width: 14em; height: 14em;">
        </div>
    </div>
    <div class="col-md-2 mt-5">
        <div class="card" type="button" style="width: 14em; height: 14em;">
        </div>
    </div>
</div>