<div class="background" style="height: 100%;">

    <div class="container resp-card ">
        <div class="row ">
            <div class="col-md-12">
                <div class="card base shadow-lg pl-3 pr-3 mb-3 bg-white rounded presentation">
                    <div class="col-md-12 shadow-lg circle " style="text-align: center;">
                        <img src="../../../assets/imgs/eden_hub4.png" style="width: 198px;" alt="">
                    </div>
                    <div class="card-body montserrat " style="margin-top: 9em;">
                        <div class="row">
                            <div class="col-md-12 centerCard quickSand">
                                <h5>Mensaje que incluya algo del oriente antioqueño</h5>
                            </div>
                            <div class="container mt-4">
                                <input placeholder='Busca Tu producto' class='js-search' type="text">
                                <i class="fa fa-search" type="button" style="font-size: 22px;"></i>
                            </div>
                        </div>
                        <div class="row quickSand centerCard mt-4" style="font-size: 20px;">
                            <div class="col-md-4">
                                <div class="card categorias mini-card shadow-lg " style="border-radius: 0.75rem!important; " type="button">
                                    <span>
                                Categorias
                            </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card categorias shadow-lg mini-card" style="border-radius: 0.75rem!important" type="button">
                                    <span>
                                Promociones
                            </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card categorias shadow-lg mini-card" style="border-radius: 0.75rem!important" type="button">
                                    <span>
                                Regalos
                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="row centerCard mt-4 roboto">
                            <span>Familia Hub:</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display: flex;">
    <!-- <a class="wpp-button " type="button">
        <span class="wpp-icon material-icons">local_phone</span>
    </a> -->
    <a class="buy-button" type="button">
        <span class="buy-icon material-icons">shopping_cart</span>
    </a>
    <app-contact-us></app-contact-us>
</div>

<div style="display: flex;">
    <a class="wpp-button " type="button">
        <span class="wpp-icon material-icons">local_phone</span>
    </a>
    <a class="buy-button" type="button">
        <span class="buy-icon material-icons">shopping_cart</span>
    </a>
    <app-contact-us></app-contact-us>
</div>


<!-- </div> -->
<!-- <a style="float: right;bottom: 63px; left: 0; max-width: 700px; border-radius: 25px 0px 0px 0px; padding: 12px 17px 1px; position: fixed; z-index: 99999; border: 1px rgba(255, 255, 255, 0) solid; background: rgba(255, 255, 255, 0);" type="button" data-toggle=""
    data-target=".navbar-collapse" href="tel:3008012948" onclick="ga('send', 'event', { eventCategory: 'Llamada', eventAction: 'Click to call', eventLabel: 'Landing'});">
    <span class="material-icons" style="background: #3cdc16; border-radius: 600px; padding: 15px 15px; border: 1px solid #ffffff; color:white">-</span>
</a>
<a style="float: right;bottom: 108px; left: 0; max-width: 700px; border-radius: 15px 0px 0px 0px; padding: 12px 17px 1px; position: fixed; z-index: 99999; border: 1px rgba(255, 255, 255, 0) solid; background: rgba(255, 255, 255, 0);" type="button" data-toggle=""
    data-target=".navbar-collapse" href="tel:3008012948" onclick="ga('send', 'event', { eventCategory: 'Llamada', eventAction: 'Click to call', eventLabel: 'Landing'});">
    <span class="material-icons" style="background: #3cdc16; border-radius: 600px; padding: 15px 15px; border: 1px solid #ffffff; color:white">local_phone</span>
</a> -->