<div class="container resp-card">
    <div class="base">
        <div class="circle"></div>
    </div>
    <div class="row ">
        <div class="col-md-12">
            <div class="card shadow-lg pl-3 mb-3 bg-white rounded presentation">
                <div class="card-body montserrat">
                    <div class="row">
                        <div class="col-md-12  centerCard">
                            <img src="../../../assets/imgs/eden_ hub7.png" style="width: 200px;" alt="">
                        </div>
                        <div class="col-md-12 ">
                            <h5>Mensaje que incluya algo del oriente antioqueño</h5>
                        </div>
                        <div class="container">
                            <input placeholder='Busca Tu producto ...' class='js-search' type="text">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                    <div class="row centerCard mt-4">
                        <div class="col-md-4">
                            <div class="card  mini-card" type="button">
                                <span>
                                Categorias
                            </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card  mini-card" type="button">
                                <span>
                                Promociones
                            </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card  mini-card" type="button">
                                <span>
                                Para Regalar
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row centerCard mt-4 roboto">
                        <span>Familia Hub:</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display: flex;">
    <a class="wpp-button " type="button">
        <span class="wpp-icon material-icons">local_phone</span>
    </a>
    <a class="buy-button" type="button">
        <span class="buy-icon material-icons">shopping_cart</span>
    </a>
</div>



<!-- <a style="float: right;bottom: 63px; left: 0; max-width: 700px; border-radius: 25px 0px 0px 0px; padding: 12px 17px 1px; position: fixed; z-index: 99999; border: 1px rgba(255, 255, 255, 0) solid; background: rgba(255, 255, 255, 0);" type="button" data-toggle=""
    data-target=".navbar-collapse" href="tel:3008012948" onclick="ga('send', 'event', { eventCategory: 'Llamada', eventAction: 'Click to call', eventLabel: 'Landing'});">
    <span class="material-icons" style="background: #3cdc16; border-radius: 600px; padding: 15px 15px; border: 1px solid #ffffff; color:white">-</span>
</a>
<a style="float: right;bottom: 108px; left: 0; max-width: 700px; border-radius: 15px 0px 0px 0px; padding: 12px 17px 1px; position: fixed; z-index: 99999; border: 1px rgba(255, 255, 255, 0) solid; background: rgba(255, 255, 255, 0);" type="button" data-toggle=""
    data-target=".navbar-collapse" href="tel:3008012948" onclick="ga('send', 'event', { eventCategory: 'Llamada', eventAction: 'Click to call', eventLabel: 'Landing'});">
    <span class="material-icons" style="background: #3cdc16; border-radius: 600px; padding: 15px 15px; border: 1px solid #ffffff; color:white">local_phone</span>
</a> -->