<div class="background resp-back">

    <div class="container resp-card ">
        <div class="row ">
            <div class="col-md-12">
                <div class="card base shadow-lg pl-3 pr-3 mb-5 bg-white rounded presentation">
                    <div class="col-md-12 shadow-lg circle " style="text-align: center;">
                        <img src="../../../assets/imgs/eden_hub4.png" class="logo" alt="">
                    </div>
                    <div class="card-body montserrat " style="margin-top: 9em;">
                        <div class="row">
                            <div class="col-md-12 centerCard quickSand">
                                <h5>Mensaje que incluya algo del oriente antioqueño</h5>
                            </div>
                            <div class="container mt-4">
                                <input placeholder='Busca Tu producto' class='js-search' type="text">
                                <i class="fa fa-search" type="button" style="font-size: 22px;"></i>
                            </div>
                        </div>
                        <div class="row quickSand centerCard mt-4" style="font-size: 20px;">
                            <div class="col-md-4">
                                <div class="card categorias mini-card shadow-lg " [routerLink]="['/categorias']" routerLinkActive="router-link-active" style="border-radius: 0.75rem!important; " type="button">
                                    <span>
                                Categorias
                            </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card categorias shadow-lg mini-card" [routerLink]="['/categorias/promociones']" routerLinkActive="router-link-active" style="border-radius: 0.75rem!important" type="button">
                                    <span>
                                Promociones
                            </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card categorias shadow-lg mini-card" [routerLink]="['/categorias/regalos']" routerLinkActive="router-link-active" style="border-radius: 0.75rem!important" type="button">
                                    <span>
                                Regalos
                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="row centerCard mt-4 roboto">
                            <span>Familia Hub:</span>
                        </div>
                        <div class="row centerCard">
                            <div *ngFor="let item of companies" class="card" style="width: 1.5em;height: 1.5em; margin-left: 10px;">
                                <img src="http://localhost:4200/assets/imgs/eden_hub4.png" title="{{item.name}}" alt="ex" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>