<app-loading *ngIf="loading"></app-loading>
<div class="background centerCard back-height" [ngStyle]="{'background-image': imageBack}" *ngIf="!loading">
    <div class="card centerCard center title-product">
        <span class="quickSand size-title " style=" color: #280B0B; background-color:#ffffff ;opacity: 0.6;">
    {{word}}
</span>
    </div>
</div>
<div class="row" style=" width: 100%;" *ngIf="!loading">
    <div class="container-fluid m-3">
        <div class="row  mt-4 ml-3 quickSand" style="font-size: 34px;">
            <p>Nuestros productos: </p>
        </div>
    </div>
    <div class="container-fluid ">
        <div class="col-md-12 contain-item ">
            <app-product class="item " *ngFor="let item of products; let i = index" [index]="i" [product]="item"></app-product>
        </div>
        <app-no-items-found *ngIf="notFound"></app-no-items-found>

    </div>

</div>