<div class="background centerCard" [ngStyle]="{'background-image': imageBack}" style="height: 47%;">
    <div class="card centerCard center " style="height: 6em; width: 25em; margin-top: 9em;">
        <span class="quickSand " style="font-size: 55px; color: #280B0B; background-color:#ffffff ;opacity: 0.6;">
    {{word}}
</span>
    </div>
</div>
<div class="row" style=" width: 100%;">
    <div class="container-fluid m-3">
        <div class="row  mt-4 ml-3 quickSand" style="font-size: 34px;">
            <p>Nuestros productos: </p>
        </div>
    </div>
    <div class="container-fluid " style="margin-left: 15px;">
        <div style="margin: 0 auto; float: none;">

            <div class="col-md-12" style=" display: flex; flex-direction: row;flex-wrap: wrap; ">
                <app-product *ngFor="let item of products; let i = index" [index]="i" [product]="item" style="margin-right: 25px; margin-bottom: 2em;"></app-product>
            </div>
        </div>
    </div>

</div>