@media (min-width: 1200px) {
    .title-product {
        height: 6em;
        width: 35%;
        margin-top: 9em;
    }
    .size-title {
        font-size: 55px;
    }
    .item {
        margin-right: 25px;
        margin-bottom: 2em;
    }
    .back-height {
        height: 47%;
    }
    .carde-size {
        height: 6em;
        width: 26em;
        margin-top: 9em;
        opacity: 0.9;
    }
}

@media (max-width: 1200px) and (min-width: 600px) {
    .title-product {
        height: 6em;
        width: 55%;
        margin-top: 9em;
    }
    .size-title {
        font-size: 45px;
    }
    .item {
        margin-right: 25px;
        margin-bottom: 2em;
    }
    .back-height {
        height: 47%;
    }
    .carde-size {
        height: 6em;
        width: 26em;
        margin-top: 9em;
        opacity: 0.9;
    }
}

@media (max-width: 600px) {
    .title-product {
        height: 4em;
        width: 20em;
        margin-top: 7em;
        opacity: 0.9;
    }
    .size-title {
        font-size: 30px;
    }
    .item {
        /* margin-right: 25px; */
        margin-bottom: 2em;
    }
    .back-height {
        height: 38%;
    }
    .carde-size {
        height: 4em;
        width: 20em;
        margin-top: 7em;
        opacity: 0.9;
    }
}

.contain-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
}