<div class="background centerCard" style="height: 45%;">
    <div style="height: 6em; width: 25em; margin-top: 9em;">
        <div class="container shadow-lg mt-4" style="background-color: white; border-radius: 0.75rem!important">
            <input placeholder='Busca Tu producto' class='js-search shadow-lg' type="text">
            <i class="fa fa-search" type="button" style="font-size: 22px;"></i>
        </div>
    </div>
</div>
<div class="container-fluid m-3">
    <div class="row centerCard mt-4 quickSand" style="font-size: 24px;">
        <p>Resultados de Búsqueda para la palabra ejemplo: </p>
    </div>
</div>
<div class="centerCard  container-fluid m-1 mb-5">
    <app-product></app-product>
</div>