<div class="login">
    <div class="container ">
        <div class="card" style="width:30em;height: 35em">
            <div class="card-body">
                <div class="row">
                    <div class="col centerCard" style="margin-top: 30px;">
                        <img src="../../../assets/imgs/logo_panadero.png" width="100px">
                    </div>
                </div>
                <div class="row">
                    <div class="col centerCard " style="margin-top: 30px;">
                        <input class="form-control quickSand" placeholder="Ingresa tu usuario">
                    </div>
                </div>
                <div class="row">
                    <div class="col centerCard" style="margin-top: 30px;">
                        <input class="form-control quickSand" placeholder="Ingresa tu contraseña">
                    </div>
                </div>
                <div class="row">
                    <div class="col centerCard" style="margin-top: 50px;">
                        <button type="button" style="background: #FF6600;color: #FFFFFF;" class="btn quickSand">Ingresar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col centerCard" style="margin-top: 50px;">
                        <p class="quickSand"> Recuperar contraseña</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>