<nav class="navbar quickSand navbar-expand-md navbar-light bg-light" style="font-size: 20px;">
    <a class="navbar-brand" href="#"> <img src="../../../../assets/imgs/mini_logo.png" width="50" height="50" class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link " href="#">Categorias <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Promociones</a>
            <a class="nav-item nav-link" href="#">Regalos</a>
            <a class="nav-item nav-link " href="#">¿Quiénes somos?</a>
        </div>
    </div>
</nav>