@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@media (max-width: 600px) {
    .producter {
        width: 18em!important;
        border-radius: 1.25rem!important;
        margin-left: 1.5em;
    }
}

.producter {
    width: 17em;
    border-radius: 1.25rem!important;
}

.circle {
    position: absolute;
    height: 35px;
    width: 80px;
    border-radius: 0%;
    border-bottom: 1px solid #525252;
    left: 47%;
    margin-left: -35px;
    top: 120px;
    /* background: #FFEEAA; */
}

.product {
    text-align: center;
    height: 90%;
    width: 100%;
    border-radius: 2%;
}

.modal-body {
    height: 70px;
    width: 100%;
    overflow-y: auto;
}

@media only screen and (max-width: 622px) {
    .celuPrice {
        margin-top: 2em;
    }
    .celDescription {
        /* text-align: center; */
        margin-top: 2px;
    }
    .buttonCelu {
        text-align: center;
    }
}

@media only screen and (min-width: 623px) {
    .celDescription {
        margin-top: 2px;
        margin-left: 20px;
    }
    .buttonCelu {
        margin-left: 2px;
    }
}