@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.circle {
    position: absolute;
    height: 35px;
    width: 80px;
    border-radius: 0%;
    border-bottom: 1px solid #525252;
    left: 47%;
    margin-left: -35px;
    top: 120px;
    /* background: #FFEEAA; */
}
.product{
    text-align:left;
    height:300px;
    width:400px;
    border-radius: 2%;
}

.modal-body{
    height: 100px;
    width: 100%;
    overflow-y: auto;
  }









