/* You can add global styles to this file, and also import other style files */

.background {
    background-image: url('assets/imgs/eat.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
}

.background-categories {
    background-image: url('assets/imgs/menu-3167860_1280.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
}

.background-bill {
    background-image: url('https://cdn.pixabay.com/photo/2014/02/01/18/00/money-256312_960_720.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
}

.background-wood {
    background-image: url('assets/imgs/wood1.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    /* background-attachment: fixed; */
    /* background-size: cover; */
}

.center {
    text-align: center;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.lora {
    font-family: 'Lora', serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.quickSand {
    font-family: 'Quicksand', sans-serif;
}

.centerCard {
    justify-content: center;
    display: flex;
}