<div class="container centerCard">
    <div class="col-md-8">
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Oops!</h4>
            <!-- <img src="../../../../assets/imgs/cerrar.png" width="30px" height="30px" style="margin-right: 10px;"> -->
            <a href="#" class="alert-link"></a>En estos momentos no tenemos resultados para tú búsqueda, pero seguimos
            trabajando para pronto tener más productos para ti.
            <hr>
            <p class="mb-0">Si tienes dudas o preguntas, comunicate a nuestro Whatsapp.</p>
        </div>
    </div>
</div>