<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div  style="text-align: center; margin-left: 18px; margin-bottom: 10px;">
        <h6>Siguenos <img src="../../../../assets/imgs/icons8-me-gusta-96.png" width="25px"></h6>
       <a href="https://www.instagram.com/"> <img  style="margin-right: 5px;" src="../../../../assets/imgs/instagram.png" width="30px"></a>
       <a href="https://www.twitter.com/"> <img style="margin-right: 5px;"  src="../../../../assets/imgs/icons8-twitter-96.png" width="30px"></a>
       <a href="https://www.facebook.com/"> <img style="margin-right: 5px;" src="../../../../assets/imgs/icons8-facebook-rodeado-de-círculo-96.png" width="35px"></a>
    </div>

    <div class="container text-center">
        <small>Copyright &copy; Dulfim Software</small>
    </div>
   
</footer>
