<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="social montserrat">
        <h6>Síguenos en:</h6>
        <a href="https://www.instagram.com/edenhub_r/"> <img style="margin-right: 5px;" src="../../../../assets/imgs/instagram.png" width="30px"></a>
        <a > <img style="margin-right: 5px;" src="../../../../assets/imgs/icons8-twitter-96.png" width="30px"></a>
        <a href="https://www.facebook.com/Edenhubrio"> <img style="margin-right: 5px;" src="../../../../assets/imgs/icons8-facebook-rodeado-de-círculo-96.png" width="35px"></a>
    </div>

    <div class="container text-center">
        <small>Copyright &copy; Dulfim Software</small>
    </div>

</footer>